{% extends 'index.html' %}

{% include 'gnb.html' %}

{% block content %}
<div>main page</div>
<div>main page</div>
<div>main page</div>
<div>main page</div>
<div>main a;sldkfjas;lkdfja;lsdkj</div>
<div>main a;sldkfjas;lkdfja;lsdkj</div>
<div>main a;sldkfjas;lkdfja;lsdkj</div>
<div>main a;sldkfjas;lkdfja;lsdkj</div>
<div>main a;sldkfjas;lkdfja;lsdkj</div>
<div>main a;sldkfjas;asdjklhfajklsdhf;lsdkj</div>
<div>main a;sldkfjas;lkdfja;lsdkj</div>
<div>main a;sldkfjas;lasdfasdfasdfdsafasdfkdfja;lsdkj</div>
<div>main a;sldkfjas;lkdfja;lsdkj</div>
<div>main a;sldkfjas;lkdfja;lsdkj</div>
<div>main a;sldkfjas;lkdfja;lsdkj</div>
{% endblock %}